name: CI
on:
  push:
    branches:
      - master
      - releases/v*
  pull_request:

jobs:
  validate-dependencies:
    name: Validate dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          filter: blob:limit=2m
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install Yarn with Corepack
        run: corepack enable |
          corepack install

      - name: yarn install
        run: yarn install --immutable --immutable-cache
        if: ${{ github.event_name != 'pull_request' }}
      - name: yarn install --check-cache
        run: yarn install --immutable --immutable-cache --check-cache
        if: ${{ github.event_name == 'pull_request' }}

  compile:
    name: Compile TypeScript
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          filter: blob:limit=2m
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install Yarn with Corepack
        run: corepack enable |
          corepack install

      - name: compile
        run: yarn compile

  lint:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          filter: blob:limit=2m
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install Yarn with Corepack
        run: corepack enable |
          corepack install
      - name: yarn install
        run: yarn install --immutable --immutable-cache

      - name: lint
        run: yarn lint

      - name: prettier
        run: yarn format:check

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          filter: blob:limit=2m
      - uses: actions/setup-node@v6
        with:
          node-version: 20
      - name: Install Yarn with Corepack
        run: corepack enable |
          corepack install
      - name: yarn install
        run: yarn install --immutable --immutable-cache

      - name: jest
        run: yarn test
