name: Publish
on:
  push:
    tags: ["v*"]

jobs:
  build-package:
    name: Build the node-package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          filter: blob:limit=2m
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
      - name: Install Yarn with Corepack
        run: corepack enable |
          corepack prepare yarn@stable --activate

      - run: yarn install --immutable --immutable-cache
      - run: yarn pack
      - uses: actions/upload-artifact@v5
        with:
          name: node-package
          path: package.tgz

  publish-npm:
    name: Publish the package to the npm registry
    environment: publish
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    needs: [build-package]
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - name: Download the build artifacts
        uses: actions/download-artifact@v5
        with:
          name: node-package
      - run: npm publish "${{ github.workspace }}/package.tgz" --access public --provenance

  create-release:
    name: Create the GitHub Release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: [build-package]
    steps:
      - name: Download the build artifacts
        uses: actions/download-artifact@v5
        with:
          name: node-package
          path: ${{ github.workspace }}/dist/
      - name: Create the release draft with the build artifacts
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe
        with:
          draft: true
          files: ${{ github.workspace }}/dist/*
